.heroContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  width: 100%;
}

.heroTextContainer {
  background-color: #ffb52b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(50%);
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 60%;
  padding: 1em;
  color: #000;
}

.heroTextMain {
  font-size: 2rem;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}

.heroTextSecondary {
  font-size: 1.25rem;
  text-align: center;
}

.heroButton {
  /* border-radius: 5px; */
  border: none;
  font-size: 1.5rem;
  padding: 0.2em 0.5em;
  margin-top: 1.5rem;
  background-color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

.heroImage {
  max-width: 900px;
  width: 100%;
  height: auto;
}

.about {
  padding-top: 16rem;
  width: 100%;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ff802b91;
  padding: 2em 3em;
  flex-direction: row;
  width: 100%;
  max-width: 1600px;
}

.aboutText {
  padding-right: 3rem;
  font-size: 1.25rem;
}

.aboutImage {
  width: 100%;
  height: auto;
}

.testimonials {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.testimonialsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.testimonial {
  background-color: #bcbcbc3b;
  height: fit-content;
  width: 350px;
  margin: 0 1rem;
  padding: 0.5em 1em;
  border-radius: 10px;
  margin: 0.5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonialLink {
  color: #2b80ff;
  text-decoration: underline;
  align-self: center;
  margin-top: 1em;
}

@media screen and (max-width: 1200px) {
  .aboutContainer {
    flex-direction: column;
  }

  .aboutText {
    padding: 0;
  }
}

@media screen and (max-width: 950px) {
  .heroTextContainer {
    transform: translateY(150px);
    width: 85%;
  }
}

@media screen and (max-width: 700px) {
  .heroTextMain {
    font-size: 1.5rem;
  }

  .heroTextSecondary {
    font-size: 1rem;
  }

  .testimonialsContainer {
    flex-direction: column;
  }
  .testimonial{
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .testimonial {
    width: 100%;
  }

  .heroTextContainer {
    transform: translateY(190px);
  }
}

@media screen and (max-width: 425px) {
  .heroImage {
    width: 110%;
  }
  .aboutContainer {
    padding: 0 1.5em 2em 1.5em;
  }
}
@media screen and (max-width: 400px) {
  .heroTextContainer {
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .heroTextContainer {
    transform: translateY(200px);
  }

}


